/*  #######################################  Header */

header {
  width: 100%;
  height: 100vh;
  background: no-repeat center / cover url(../src/fond.jpg);
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

.header-filtre {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: radial-gradient(transparent, #000 80%);
}

.header-ligne {
  width: 30%;
  height: 1px;
  background: var(--color-b);
  position: absolute;
  z-index: 2;
  transition: width 0.6s ease-in-out,
    background 0.6s ease-in-out;
}

.header-ligne-1::after,
.header-ligne-2::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-b);
  position: absolute;
  transition: background 0.6s ease-in-out;
}

.header-ligne-2::after {
  top: 50%;
  left: 0%;
  transform: translateY(-50%)
}

.header-ligne-1::after {
  top: 50%;
  right: 0;
  transform: translateY(-50%)
}
.header-ligne-1 {
  bottom: 20%;
  left: 0;
}

.header-ligne-2 {
  top: 20%;
  right: 0;
}
.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 50;
  padding: 0 1rem;
}

.header-content img {
  width: 250px;
  height: auto;
}
.header-content p {
  font-size: calc(14px + 1vw + 5px);
  margin: 1rem 0;
  color: var(--color-j)
}

.header-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  color: var(--color-b);
  border: 1px solid var(--color-j);
  line-height: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease-in-out,
    color 0.2s ease-in-out,
    font-size 0.2s ease-in-out;
  animation: tourn 1s infinite;
}

.header-icon:hover {
  background: var(--color-j);
  color: var(--color-b);
  font-size: 18px;
}

@keyframes tourn {
  to {
    box-shadow: 0 0 0 0px rgba(255, 183, 0, 0.633);
  }

  from {
    box-shadow: 0 0 15px 0 rgba(255, 183, 0, 0.633);
  }
}

header:hover .header-ligne {
  width: 80%;
  background: var(--color-j);
}

header:hover .header-ligne::after {
  background: var(--color-j);
}

@media screen and (max-width: 750px) {
  .header-ligne {
    display: none;
  }
}

/*  #######################################  services */

.section-services {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background: var(--color-b);
}

.section-services h2 {
  color: var(--color-d);
}

.services-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  height: auto;
  margin: 1rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.service-img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.service-img img {
  width: 100%;
  height: auto;
}

.service-cont {
  text-align: center;
  padding: 0 1rem;
}

.service-cont h5 {
  font-size: calc(10px + 1vw + 5px);
  color: var(--color-m);
}

.service-cont p {
  margin: 1rem 0;
}

.service-cont a {
  display: block;
  margin: 1rem 0;
}


/*  #######################################  partenariat */

.logo-partenariat {
  width: 200px!important;
}


/*  #######################################  section home */
.global-home{
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  padding: 0 1rem;
}


video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height:100%;
  object-fit: cover;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}



.section-home {
  font-weight: 100;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  height: auto;

 position: absolute;
 top: 50%;
 left: 1rem;
  font-size: 1.2rem;
  transform: translateY(-50%);
}

.section-home h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: .1rem;
}

.section-home .btn-global {
  margin-top: 1rem;
}

@media screen and (max-width: 780px){
  .section-home {
   top:50%;
   left:50%;
   transform:translate(-50%,-50%)
  }
}






